<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="WebSync"
            visible="true"
            id="websync.actionSet">
         <menu
               label="WebSync &amp;Menu"
               id="websyncMenu">
            <separator
                  name="websyncGroup">
            </separator>
         </menu>
         <action
               label="&amp;WebSync Setup"
               icon="icons/sample.gif"
               class="websync.actions.StartWebSession"
               tooltip="WebSync HTTP Service"
               menubarPath="WebSync/websyncGroup"
               toolbarPath="websyncGroup"
               id="websync.actions.StartWebSession">
         </action>
      </actionSet>
   </extension>

</plugin>
